[package]
name = "cir"
version = "0.1.0"
authors = ["Sean Young <sean@mess.org>"]
repository = "https://github.com/seanyoung/cir"
edition = "2021"
description = "Linux Infrared Tooling"
license = "MIT"

[dependencies]
irp = { version = "0.2.1", path = "irp" }
clap = "3.1"
toml = "0.5"
serde_derive = { version = "1.0" }
serde = { version = "1.0", features = [ "derive" ] }
iocuddle = "0.1.1"
itertools = "0.10"
evdev = "0.11.1"
mio = { version = "0.8", features = [ "os-poll", "os-ext" ] }
libc = "0.2"
nix = "0.23"
regex = "1"
unicode-xid = "0.2"
humantime = "2.1"
aya = "0.10"
bitflags = "1.3"
num-integer = "0.1"
terminal_size = "0.1"

[build-dependencies]
lrpeg = "0.4.1"

[dev-dependencies]
assert_cmd = "2.0"
serde_json = "1.0"

[workspace]
members = [
	"irp",
	"irp/generate_test_data",
	"generate_lircd_test_data"
]

[features]
default = []
loopback-tests = []

[profile.release]
lto = true
opt-level = 'z'
codegen-units = 1
